.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent !important;
}

ul.nav.nav-pills.card-header-pills li {
  width: 25%;
}

.card-active {
  transform: translateY(calc(-1.5rem / 5));
  box-shadow: 0 5px 10px rgba(30,3,37,0.12);
}